@media all and (max-width: 600px) {
    .main-nav ul {
      display: list-item;
      padding: 0;
      list-style: none;
      clear: both;
    }
    /* hides the hamburger but it aint working 100% */
    .icon-menu {
      display: block;
    }

    .main-nav li {
      display: inline-block;
      margin-right: .4em;
      font-size: 1.5em;
      padding: .5em .2em;
      border-bottom: 1px solid #ccc;
    }
}

.main-nav ul {
  display: list-item;
  padding: 0;
  list-style: none;
  clear: both;
}
